--extra-index-url https://download.pytorch.org/whl/cu121
numpy
scipy
pandas
biopython
tensorflow>=2.10
cma
tqdm
psutil
matplotlib
seaborn
scikit-learn
joblib
requests
pyyaml
pytest
ipython
jupyter
mhcflurry
torch
torchvision
torchaudio
fair-esm
