--extra-index-url https://download.pytorch.org/whl/cu121
numpy<2.0.0
scipy
pandas
biopython
tensorflow>=2.10
cma
tqdm
psutil
matplotlib
seaborn
scikit-learn==1.2.2
joblib
requests
pyyaml
pytest
ipython
jupyter
mhcflurry
torch
torchvision
torchaudio
fair-esm
